* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

/**/
body {
  background-image: url("https://acis.org.co/portal/sites/default/files/blockchain_4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Silkscreen", cursive;
}

/**/
.containerPrincipal {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

/**/

.containerHeader {
  text-align: center;
  padding: 20px 0;
  color: white;
  background-color: rgba(14, 17, 97, 0.685);
  letter-spacing: 2px;
  font-size: 1.4rem;
}

/**/
.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-form input {
  height: 40px;
  width: 200px;
  margin: 10px 0;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Play", sans-serif;
}
.container-form button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
}

/**/
.container-container-input {
  width: 100%;
  padding: 0 10px;
}
.container-input {
  color: rgb(21, 13, 67);
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  background-color: rgba(240, 248, 255, 0.606);
  border-radius: 15px;
}
.container-input h5 {
  font-size: 1.4rem;
  padding: 10px 10px;
  font-family: "Play", sans-serif;
}

/**/

.container-info {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  background-color: rgba(14, 17, 97, 0.685);
  border-radius: 15px;
}

.container-info .container-titles {
  font-size: 1.2rem;
}
.container-info .container-titles h3 {
  padding: 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 150px;
  font-family: "Play", sans-serif;
}
#borderNone {
  border-bottom: none;
}

.container-info .container-calc h5 {
  font-size: 1.4rem;
  width: 110px;
  padding: 17px;
  border-left: 1px solid rgb(255, 255, 255);
  font-family: "Play", sans-serif;
}
